@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 12px;
    }
}

.box {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}


.head_nav {
    width: 100%;
    height: 100%;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 15px;
}

.head_nav>.head_nav_text a {
    font-size: 16px;
    color: #444;
    height: 70px;
    line-height: 35px;
    text-decoration: none;
}

.head_nav_text2 a {
    font-size: 16px;
    color: #444;
    height: 70px;
    line-height: 35px;
    text-decoration: none;
}

.head_nav>h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Pacifico', Courier, monospace;
    color: #FF9B0F;
}

.head_nav_list li {
    margin: 0 20px;
}

.head_nav_list li a {
    font-size: 16px;
    color: #444;
    height: 70px;
    line-height: 35px;
    text-decoration: none;
}

main {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.overview_cs {
    width: 100%;
    max-width: 1140px;
    min-height: 450px;
    margin: 15px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
    padding: 30px 0;
    background: url(../image/20.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}
.overview_cs>.overlay {
    width: 300px;
    height: 200px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    position: absolute;
    top: 0;
    left: 100px;
}

.overview_cs>.overlay h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.overview_cs>.overlay p {
    font-size: 1.5rem;
    font-family: 'Microsoft YaHei', Arial, sans-serif;
    letter-spacing: 2px;
}

.overview_ak {
    width: 100%;
    max-width: 1140px;
    min-height: 450px;
    margin: 15px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0;
    background: url(../image/21.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}
.overview_ak>.akBox {
    width: 100%;
    min-height: 200px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}
.overview_ak>.akBox>h1{
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.overview_ak>.akBox>p{
    font-size: 1.5rem;
    font-family: 'Microsoft YaHei', Arial, sans-serif;
    letter-spacing: 2px;
}

.overview_ak1 {
    width: 100%;
    max-width: 1140px;
    height: 450px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px 0;
}
.overview_ak1 >.akBox_left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
}
.overview_ak1 >.akBox_left > h2 {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 1.25rem;
    letter-spacing: 2px;
    color: #FF9B0F;
    box-sizing: border-box;
    padding: 0 20px;
    border: none;
    border-left: 50px solid #FF9B0F;
}
.overview_ak1 >.akBox_left>.text_list {
    list-style-type: none;
    box-sizing: border-box;
    padding: 30px;
}
.overview_ak1 >.akBox_left>.text_list>.liStong {
    font-weight: 600;
}
.overview_ak1 >.akBox_left>.text_list>li {
    margin-bottom: 10px;
    font-size: 1rem;
}
.overview_ak1 >.akBox_right {
    width: 55%;
    height: 100%;
    /* background-color: #32ab10; */
    position: relative;
}
.akBox_right>.rightImg {
    width: 500px;
    height: 100%;
    position: relative;
}
.rightImg img[alt="boxImgs"] {
    width: 250px;
    height: 250px;
}
.rightImg_top {
    width: 300px;
    height: 300px;
    /* background: url(/image/22.jpg) no-repeat;
    background-size: contain; */
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border: 5px solid #FF9B0F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: none;
    border-right: none;
}
.rightImg_top::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 90px;
    background-color: #FF9B0F;
    position: absolute;
    top: 0;
    right: 0;
}
.rightImg_top::before {
    content: '';
    display: inline-block;
    width: 200px;
    height: 5px;
    background-color: #FF9B0F;
    position: absolute;
    bottom: 0;
    left: 0;
}
.rightImg_bot {
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    border: 5px solid #FF9B0F;
    border-top: none;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightImg_bot::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 90px;
    background-color: #FF9B0F;
    position: absolute;
    bottom: 0;
    left: 0;
}
.rightImg_bot::before {
    content: '';
    display: inline-block;
    width: 200px;
    height: 5px;
    background-color: #FF9B0F;
    position: absolute;
    top: 0;
    right: 0;
}

.overview_ak2 {
    width: 100%;
    max-width: 1140px;
    min-height: 300px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px 0;
}
.overview_ak2>.akBox_left {
    width: 75%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.overview_ak2>.akBox_left >.left_imgs {
    display: flex;
    align-items: center;
}
.overview_ak2>.akBox_left >.left_imgs>img{
    width: auto;
    max-width: 50%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
}
.overview_ak2>.akBox_left >.left_Text {
    display: flex;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: #FF9B0F;
    box-sizing: border-box;
    padding: 0 30px;
    color: #fff;
}
.overview_ak2>.akBox_left >.left_Text>h2{
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-right: 20px;
} 
.overview_ak2>.akBox_left >.left_Text>.text_rig{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
} 
.overview_ak2>.akBox_left >.left_Text>.text_rig>h3{
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.overview_ak2>.akBox_left >.left_Text>.text_rig>ul>li{
    margin-bottom: 10px;
    font-size: 1rem;
}
.overview_ak2>.akBox_right {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overview_ak2>.akBox_right>img{
    width: 175px;
    height: 350px;
}

.overview_ak2>.akBox_right>.rightMask {
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
}

.overview_ak3 {
    width: 100%;
    max-width: 1140px;
    min-height: 300px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px 0;
}
.overview_ak3>.akBoxLeft {
    width: 30%;
    height: 100%;
    background-color: #FF9B11;
    color: #fff;
    box-sizing: border-box;
    padding: 40px;
    padding-bottom: 120px;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.overview_ak3>.akBoxRight {
    width: 70%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overview_ak3>.akBoxRight>img {
    width: 440px;
    height: auto;
    object-fit: contain;
}

.overview_ak4 {
    width: 100%;
    max-width: 1140px;
    margin: 15px 0;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview_ak4>.ak4_top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.overview_ak4>.ak4_top>.ak4_logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overview_ak4>.ak4_top>.ak4_logo img {
    max-width: 100%;
    width: 180px;
    height: auto;
}

.overview_ak4>.ak4_top>.ak4_info {
    flex: 2;
    text-align: left;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #F1A038;
    padding: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.overview_ak4>.ak4_top>.ak4_info>.infoText p {
    font-size: 1.25rem;
    color: #333;
    margin: 5px 0;
}

.overview_ak4>.ak4_top>.ak4_info h2 {
    font-size: 1.5rem;
    color: #FF9B0F;
    margin: 0 30px 10px 0;
}




.overview_ak4>.ak4_bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.overview_ak4>.ak4_bottom>.ak4_section {
    flex: 1;
    padding: 0 20px;
}

.overview_ak4>.ak4_bottom>.ak4_section h3 {
    font-size: 1.25rem;
    color: #FF9B0F;
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.overview_ak4>.ak4_bottom>.ak4_section h3>img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.overview_ak4>.ak4_bottom>.ak4_section ul {
    list-style: none;
    padding-left: 20px;
}

.overview_ak4>.ak4_bottom>.ak4_section ul li {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.overview_ak4>.ak4_bottom>.ak4_section ul li::before {
    content: "●";
    color: #FF9B0F;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5rem;
    line-height: 1;
}


.overview_cs2 {
    width: 100%;
    max-width: 1140px;
    min-height: 350px;
    margin: 15px 0;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    padding: 0 10px;
}

.overview_supd {
    margin: 40px 0;
}

.overview_title {
    font-size: 2rem;
    height: 50px;
    width: 100%;
    line-height: 50px;
    /* padding: 0 20px; */
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 10px;
}

.overview_title>span {
    font-size: 1.75rem;
    font-weight: 500;
}

.overview_box {
    width: 100%;
    /* height: 300px; */
    display: flex;
    justify-content: space-between;
}

.overview_boxLeft {
    width: 40%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
}

.surround {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px dashed red;
    border-radius: 5px;
}

.overview_boxRight {
    width: 48%;
    height: 100%;
}

.boxRightAdv {
    width: 49%;
}

.overview_arrow {
    width: 4%;
    height: 100%;
    min-height: 500px;
    background: url(../image/arrow.jpg) no-repeat;
    background-size: 100% 100%;
    /* background-color: #006A5F; */
    margin-top: 40px;
}

.overview_boxRight30 {
    width: 30%;
}

.overview_boxRight40 {
    width: 40%;
}

.overview_boxRight65 {
    width: 65%;
    position: relative;
}

.boxSub300 {
    width: 400px;
    margin: 40px 0;
}

.boxSub300>.bor_text00 {
    color: #000;
    background-color: transparent;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.surround>p {
    font-size: 1rem;
    color: #000;
    width: 100%;
    margin: 5px 0;
    min-height: 40px;
    position: relative;
}

.surround>p>img {
    height: 50px;
    width: auto;
    object-fit: contain;
    position: absolute;
    top: -15px;
}

.overview_boxRight>h3 {
    background-color: #FFC000;
    height: 50px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.overview_boxRight>img {
    width: 100%;
    height: auto;
    max-height: 450px;
    object-fit: contain;
}

.overview_boxRight30_img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overview_boxRight65>h4 {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: #333F50;
    text-shadow: 2px 2px 1px #333f5063;
    margin-bottom: 10px;
}

.overview_boxRight65>p {
    width: 100%;
    min-height: 50px;
    font-size: 1.25rem;
}

.overview_boxRight65>p:nth-last-child(2)>span {
    color: #C00000;
}

.overview_boxRight65>p:nth-last-child(3)>span {
    color: #404040;
}

.overview_boxRight65>p:nth-last-child(4)>span {
    color: #FFC000;
}

.overview_boxRight65>p:nth-last-child(5)>span {
    color: #2E75B6;
}

.overview_boxRight65>img[alt="rigBot"] {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -80px;
    right: 0;
}

.overview_boxRight65>.br65_text {
    margin-top: 20px;
}

.overview_boxRight30>.overview_boxRight30_img>img {
    height: 350px;
    width: auto;
    object-fit: contain;
}

.overview_boxRight>table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

.overview_boxRight>table td,
.overview_boxRight>table th {
    border: 1px dashed #016AFF;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
.overview_boxRight>table td:first-child {
    color: #FF9B0F;
}
.overview_boxRight>table th {
    font-weight: 600;
    color: #FF9B0F;
}
.overview_boxRight>.boxTextLogo {
    width: 100%;
    height: 100%;
    min-height: 300px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}
.overview_boxRight>.boxTextLogo>img{
    width: 200px;
    height: 200px;
}
.overview_boxRight>.boxTextLogo>h3{
    width: 300px;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 20px;
}

.overview_boxRight>.tabBottomText {
    margin-top: 40px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 10px;
    border: 1px dashed #41719C;
    border-radius: 5px;
    position: relative;
}

.tabBottomText img[alt="star"] {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
}

.overview_boxRight>.boxRight_list {
    width: 100%;
}

.overview_boxRight>.boxRight_list>p {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

.overview_boxRight>.boxRight_ul>li {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    position: relative;
    box-sizing: border-box;
    padding-left: 25px;
}

.overview_boxRight>.boxRight_ul>li::before {
    content: "● ";
    color: #404040;
    margin-right: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.overview_boxRight>.bor_text00 {
    color: #000;
    background-color: transparent;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.bor_text00>.tetxtSpot {
    font-size: 36px;
    color: #000;
    margin-right: 5px;
    font-weight: 600;
}

.bor_textCenter {
    font-size: 24px;
}

.textRoutine {
    font-size: 24px;
    font-weight: 500;
}

.boxRight_img {
    width: 100%;
}

.boxRight_img>img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.br_list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.br_list li {
    width: 120px;
    height: 100px;
    box-sizing: border-box;
    padding: 20px;
    color: #fff;
    background-color: #FFC000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overview_cs3 {
    width: 100%;
    background-color: #F7F7F7;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.advancedBox {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.overview_cs3_box {
    width: 100%;
    max-width: 1140px;
    box-sizing: border-box;
    padding: 0 10px;
}

.overview_bg {
    margin: 0;
}

.overview_bg::before {
    content: "";
    display: block;
    width: calc(100%);
    box-sizing: border-box;
    overflow: hidden;
    height: 60px;
    background-color: #FF9B0F;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.overview_cs3_box::before {
    content: "";
    display: block;
    width: calc(100%);
    box-sizing: border-box;
    overflow: hidden;
    height: 60px;
    background-color: #FFC000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.overview_cs3_box>.overview_title {
    font-size: 2rem;
    height: 50px;
    width: 100%;
    line-height: 50px;
    padding: 0;
}

.overview_cs3_box .overview_text {
    font-weight: 600;
    font-size: 1.25rem;
}

.yellowBox_title {
    width: 100%;
    height: 60px;
    background-color: #FF9B0F;
    box-sizing: border-box;
    /* padding: 0 20px; */
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
    z-index: 2;
    position: relative;
}

.overview3_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overview3_box>img {
    width: auto;
    height: 300px;
    object-fit: contain;
}

.overview3_box>ul {
    display: flex;
    list-style-type: none;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.overview3_box>ul>li {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100px;
}

.overview3_box>ul>li:last-child {
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: 100px;
}

.overview3_box>ul>li>.li_icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.overview3_box>ul>li:nth-child(1)>.li_icon {
    background-image: url(../image/03.jpg);
    background-repeat: no-repeat;
    background-position: -13px -20px;
}

.overview3_box>ul>li:nth-child(2)>.li_icon {
    background-image: url(../image/03.jpg);
    background-repeat: no-repeat;
    background-position: -13px -130px;
}

.overview3_box>ul>li:nth-child(3)>.li_icon {
    background-image: url(../image/03.jpg);
    background-repeat: no-repeat;
    background-position: -13px -235px;
}

.li_text h4 {
    color: #006A5F;
}

.li_text p {
    font-size: 1rem;
}

.li_text>.textListSub {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 420px;
}

.textListSub ul {
    width: 200px;
    height: 120px;
    margin-top: 10px;
}

.overview_cs7 {
    width: 100%;
    max-width: 1140px;
    min-height: 350px;
    margin: 15px 0;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    padding: 0 10px;
}
.overview_cs7>.overview_title {
    border-left: 10px solid #FF9B11;
    color: #FF9B11;
    box-sizing: border-box;
    padding: 0 20px;
}
.overview_cs7>.overview_box7 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.overview_cs7>.overview_box7>.boxListco {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}
.overview_cs7>.overview_box7>.boxListco>li{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px 0 0;
    font-size: 1.25rem;
    background-color: #F8F8F8;
    margin-bottom: 10px;
}
.overview_cs7>.overview_box7>.boxListco>li>.advantage-number{
    width: 80px;
    height: 80px;
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 20px;
    color: #fff;
}
.overview_cs7>.overview_box7>.boxListco>li:nth-child(1)>.advantage-number{
    background-color: #5B9BD5;
}
.overview_cs7>.overview_box7>.boxListco>li:nth-child(2)>.advantage-number{
    background-color: #ED7D31;
}
.overview_cs7>.overview_box7>.boxListco>li:nth-child(3)>.advantage-number{
    background-color: #A5A5A5;
}
.overview_cs7>.overview_box7>.boxListco>li:nth-child(4)>.advantage-number{
    background-color: #5B9BD5;
}

.overview_box_cenTi {
    width: 40%;
    height: 300px;
}

.overview_box_cenTi>.cenTi_text {
    width: 100%;
    height: 25%;
    box-sizing: border-box;
    padding: 5px 25px;
}

.overview_box_cenModdin {
    width: 20%;
    height: 300px;
}

.overview_cs7>.overview_box8 {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.overview_cs7>.overview_box8>p {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.overview_cs7>.overview_box8 {
    display: none;
}

.overview_cs7>.overview_box8>p:nth-child(even)::before {
    content: "● ";
    color: #FFC000;
    margin-right: 5px;
}

.overview_box_cenModdin>.cenModdin_text {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
}

.overview_box_cenModdin>.cenModdin_text:nth-child(odd) {
    background: url(../image/16.jpg) no-repeat;
    background-size: 100% 100%;
}

.overview_box_cenModdin>.cenModdin_text:nth-child(even) {
    background: url(../image/17.jpg) no-repeat;
    background-size: 100% 100%;
}

/* 多维方案 */
.multidimensionalBox {
    width: 100%;
    height: 100%;
    min-height: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.multidimensionalBox_title {
    width: 400px;
    height: 250px;
    background: url(../image/18.jpg) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
    box-sizing: border-box;
    padding: 40px;

}

.multidimensionalBox_main {
    width: 400px;
    height: 300px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    box-sizing: border-box;
    font-size: 1.25rem;
    padding: 40px;
}

.multidimensionalBox_foot {
    width: 400px;
    height: 50px;
    background-color: #FFC000;
}

/* 移动端底部 */

.overview_cs6 {
    width: 100%;
    max-width: 1140px;
    min-height: 350px;
    margin: 15px 0;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    padding: 0 10px;
    display: none;
}

.overview_cs6>.overview_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.overview_cs6>.overview_box>.overview_box_text6 {
    width: 45%;
    min-height: 300px;
}

.overview_cs6>.overview_box>.overview_box_text6>.overview_box_text6Bot::before {
    content: "● ";
    color: #FFC000;
    margin-right: 5px;
}

.overview_cs6 .overview_title_lan {
    color: #5B9BD5;
}


/* 底部 */
.overview_csFoot {
    width: 100%;
    max-width: 1140px;
    min-height: 550px;
    margin: 15px 0;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.csFoot_left {
    width: 300px;
    min-height: 550px;
    height: 100%;
    background-color: #FFC000;
    box-sizing: border-box;
    padding: 30px 0 30px 30px;

}

.cslWireText {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    width: 100%;
    margin: 60px 20px 0 60px;
}

.cslWire {
    width: 100%;
    min-height: 550px;
    height: 100%;
    border: 2px solid #fff;
    border-right: none;
}

.csFoot_right {
    width: calc(100% - 300px);
    min-height: 550px;
    height: 100%;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 30px 30px 30px 0;
}

.csrWire {
    width: 100%;
    min-height: 550px;
    height: 550px;
    border: 2px solid #FFC000;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.csrWire_left,
.csrWire_right {
    width: 47%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px 20px;
}

.csfBoxCenter {
    width: 100%;
    height: 100%;
    border: 2px solid #5B9BD5;
    border-radius: 10px;
}

.csfBoxCenterText {
    width: 80%;
    height: 40px;
    background-color: #5B9BD5;
    border-radius: 20px;
    position: relative;
    top: -20px;
    left: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

.csrWire_right>.csfBoxCenter {
    border-color: #ED7D31;
}

.csrWire_right>.csfBoxCenter>.csfBoxCenterText {
    background-color: #ED7D31;
}

.csfBoxCenterList {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-around;
}

.csfBoxCenterList li {
    margin: 10px 0;
}

@media (min-width: 768px) {

    .head_nav_list2,
    .head_nav_text2 {
        display: none;
    }

    .head_nav_list {
        display: flex;
        width: 700px;
    }

    .head_nav_list li a:hover {
        color: #5286F8;
    }
}

@media (max-width: 767px) {

    .head_nav_list,
    .head_nav_text,
    .overview_title>span,
    .overview3_box .li_icon,
    .overview_boxRight65>img[alt="rigBot"],
    .overview_title_ins,
    .overview_arrow,
    .overview_csFoot,
    .overview_cs7>.overview_box7,
    .overview_ak1 >.akBox_right,
    .overview_ak2>.akBox_right,
    .overview_ak4>.ak4_top>.ak4_logo  {
        display: none;
    }

    .overview_cs7>.overview_box8 {
        display: flex;
    }
    .overview_cs>.overlay {
        top: 0;
        left: 0;
    }

    .tabBottomText img[alt="star"] {
        position: absolute;
        top: -10px;
        left: -10px;
        width: 20px;
        height: 20px;
    }

    .overview_cs6 {
        display: flex;
    }

    .overview_cs6>.overview_box>.overview_box_text6 {
        width: 100%;
        min-height: 100px;
        margin: 5px 0;
    }

    .overview_box,
    .overview3_box,
    .overview_cs6>.overview_box,
    .overview_ak1,
    .overview_ak3 {
        display: flex;
        flex-flow: column nowrap;
    }

    .overview_boxLeft,
    .overview_boxRight,
    .overview_boxRight30,
    .overview_boxRight65,
    .overview_box_text6,
    .overview_ak1 >.akBox_left,
    .overview_ak2>.akBox_left,
    .overview_ak3>.akBoxLeft{
        width: 100%;
    }

    .head_nav_list2 {
        width: 100%;
        box-sizing: border-box;
        padding: 0 5px;
        display: none;
    }

    .head_nav_list2 li {
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        padding: 0 10px;
        border-bottom: 1px solid #9999991f;
    }

    .head_nav_list2 li a {
        font-size: 16px;
        color: #444;
        height: 70px;
        line-height: 35px;
        text-decoration: none;
    }
    .overview_ak4 {
        width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        padding: 20px;
        box-shadow: none;
        overflow: hidden;
    }

    .overview_ak4>.ak4_top {
        flex-direction: column;
        align-items: flex-start;
    }

    .overview_ak4>.ak4_top>.ak4_info {
        width: 100%;
        border: none;
        padding: 0;
    }

    .overview_ak4>.ak4_bottom {
        flex-direction: column;
    }

    .overview_ak4 .ak4_section {
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        margin-bottom: 20px;
    }
    .overview_ak4>.ak4_bottom>.ak4_section ul {
        padding-left: 0;
    }
}